<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    {% include 'header.html' %}

    <h4 class="currentPage">About Us</h4>

    <div id="about">
        <p1 class="abouttext">
            We are based off Niantic Inc's game, Pokémon Go. Our mission <br />
            is to provide users with reliable information on Pokéstops <br />
            and Gyms worldwide to bring Trainers together and be more <br />
            successful with group raids. <br />
            <br />
            We encourage users to link their neighbourhood or corresponding <br />
            Discord links if applicable to help visiting/new Trainers to <br />
            the area. <br />
            <br />
            The rating can be used to indicate the potential number <br />
            of Pokémon that may spawn during active Lures, or the <br />
            number of active users that frequent the area around <br />
            the Pokéstop/Gym. Trainers can also look to coordinate <img src="../../../../favicon.ico"/><br />
            Raid Hours accordingly. <img src="../../../../favicon.ico"/><br />
            <br />
            Our rating scale consists of the berries used in <br />
            Pokémon Go! Take a look at the corresponding meanings below:
        </p1>
    </div>

    <!-- Explaining the rating system -->
    <table>
        <tr>
            <th>Rating</th>
            <th>Close to other PokéStops?</th>
            <th>Active?</th>
        </tr>
        <tr>
            <td>Golden Razz</td>
            <td>YES and Gyms!</td>
            <td>YES</td>
        </tr>
        <tr>
            <td>Razz</td>
            <td>YES</td>
            <td>NO</td>
        </tr>
        <tr>
            <td>Silver Pinap</td>
            <td>YES</td>
            <td>YES</td>
        </tr>
        <tr>
            <td>Pinap</td>
            <td>NO</td>
            <td>YES</td>
        </tr>
        <tr>
            <td>Nanab</td>
            <td>NO</td>
            <td>NO</td>
        </tr>
    </table>

</body>
</html>
