<!DOCTYPE html>
<html>

<head>
    <title>Lure Party of the Week</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

    {% include 'header.html' %}

    <h4 class="currentPage">Lure Party of the Week</h4>
    <!-- quick information sentence of coordinates, dates, and times for lure parties -->
    <!-- lure parties are where spoofers (aka cheaters) meet at a place to maximize their benefits of using an object in the game, just search lure party on reddit and maybe you'll know what im talking about -->
    <div id="about">
        <p class="abouttext">This week's Lure Party is for <b>Lillipup</b> on <b>Thursday</b>, October 10, 2019 at <b>8 PM EST</b>.</p>
    </div>
</body>
</html>
